<% if line_item == @current_item %>
    <tr id="current_item">
  <% else %>
    <tr>
<% end %>
   <td><%= line_item.quantity %>&times <td id="title"><%= line_item.product.title.first(12) %></td>
   <td><%= number_to_currency(line_item.total_price) %></td>
 </tr>
